[Desktop Entry]
Type=Application
Name=YOUR_APPLICATION_NAME
Comment=THE_TYPE_OF_APPLICATION
Exec=WHERE IS LOCATED THE FILE run.sh IT SOULD BE SOMETHING LIKE /home/user/applications/my_application/run.sh
Icon=WHERE IS LOCATED THE ICON, IT SOULD BE SOMETHING LIKE/home/nunki/Aplicaciones/dragonsweeper/icon.png
Terminal=false
Categories=THE USE OF MY APP, IT SHOULD BE SOMETHING LIKE game; ActionGame;
